@import url("https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@300&family=Dancing+Script:wght@400;600&family=M+PLUS+Rounded+1c:wght@500&family=Montserrat&family=Orbitron:wght@400;500;600;900&family=Poppins:wght@400;600;700&family=Roboto:wght@300;400;500;700;900&display=swap");

html {
  height: 100%;
  width: 100vw;
  overflow-x: hidden;
}

body {
  scroll-behavior: smooth;
  position: relative;
  height: 100%;
  width: 100vw;
  margin: 0;
  font-family: serif;
  overflow-x: hidden;
}

.logo--container {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 700px;
  z-index: 0;
}

.logo {
  width: 45em;
  transform: translateY(-1em);
  transition: opacity 0.5s ease;
}

/* Nav bar styles */
.header {
  display: flex;
  position: relative;
  top: 0;
}

ul {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  list-style-type: none;
  margin-top: 20px;
  padding: 0;
  z-index: 2;
  opacity: 0;
  transition: opacity 1s ease;
  pointer-events: none;
}

.icon {
  position: absolute;
  right: 38px;
  top: 38px;
  cursor: pointer;
}

.nav--item {
  margin: 30px;
  cursor: pointer;
  box-sizing: border-box;
  font-family: "Dancing Script", sans-serif;
  font-size: 1.5em;
}

.nav--link {
  text-decoration: none;
  color: rgb(103, 116, 110);
  transition: 0.4s;
}

.nav--link:hover {
  color: rgb(31, 39, 34);
  transition: 0.4s ease-in;
}
/* Nav bar styles end */

/* Default Section Styles */
.section {
  font-family: "Cormorant Garamond", serif;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  background-color: #7a9688;
  color: rgb(255, 255, 255);

  gap: 30px;
}

.attach {
  width: 7em;
}
.attach--mobil {
  width: 7em;
  display: none;
}
/* Default Section Styles End */

/* Main page styles */
#main {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

#main::before {
  content: "";
  background-image: url(./IMG/bgnove-01.png);
  background-color: #ffffff;
  position: absolute;
  background-position: center;
  background-size: 120%;
  background-repeat: no-repeat;
  background-attachment: fixed;

  top: 0px;
  right: 0px;
  left: 0px;
  bottom: 0px;
}
/* Main page styles end */

/* Photo Section */
.panel--container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5%;
}

.panel {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20%;
}

.foto {
  width: 100%;
}
/* Photo section End */

/* Map section */
#map--section {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100%;
}

#map--section::before {
  content: "";
  background-image: url(./IMG/bgnove-01.png);
  background-color: #ffffff;
  background-size: 120%;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  position: absolute;
  top: 0px;
  right: 0px;
  left: 0px;
  bottom: 0px;

  opacity: 0.6;
}

#map {
  position: relative;
  width: 30rem;
  height: 30rem;
  border: 3px solid #7a9688;
  z-index: 500;
}
/* Map section end */

/* Doprava Secton */
#doprava--section {
  position: relative;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  height: 100%;
}

#doprava--section::before {
  content: "";
  background-image: url(./IMG/bgnove-01.png);
  background-size: 120%;
  background-color: #ffffff;

  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  position: absolute;
  top: 0px;
  right: 0px;
  left: 0px;
  bottom: 0px;
  opacity: 0.6;
  z-index: -1;
}

/* Doprava Section End */

/* Color circles */
/* Dress Code Styles */
.circles {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 90px;
  position: relative;
}

.circle {
  border-radius: 100%;
  border: solid 2px white;
  height: 5em;
  width: 5em;
  transition: all 0.7s ease;
}

.circle--1 {
  background-color: #7a9688;
}

.circle--2 {
  background-color: #9ab4cb;
}

.circle--3 {
  background-color: #fefaf1;
}

.circle--4 {
  background-color: #74899c;
}
/* Color circles end */

.circle--container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.color {
  font-family: "Dancing Script", cursive;
}

.dress--sub {
  margin-top: 20px;
}

/* Program Styles */
#program--section {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;

  height: 100%;
}

#program--section::before {
  content: "";
  background-image: url(./IMG/bgnove-01.png);
  background-size: 120%;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  position: absolute;
  top: 0px;
  right: 0px;
  left: 0px;
  bottom: 0px;
  opacity: 0.4;
  z-index: -1;
}
/* Program Styles End */

/* Outro Section Styles */
.last--section {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 30px;
}

.horizontal--attach {
  transform: rotate(90deg);
}
/* Outro Section Styles End */

/* Misc Section Styles */
#section--3 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#section--4 {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 10%;
}
/* Misc Section Styles End */

/* Section Text Containers */
.headline {
  font-family: "Dancing Script", cursive;
  font-weight: 400;
  margin-bottom: 20px;
  font-size: 200%;
  outline: none;
}

.subheadline {
  font-family: "Cormorant Garamond", serif;
  font-size: 120%;
}

.menu--sub {
  font-family: "Cormorant Garamond", serif;
  font-size: 120%;
  width: 50%;
}

.menu--text {
  position: relative;
  width: 50%;
  display: flex;
  gap: 150px;
}

.non--vegan {
  position: absolute;
  width: 100%;
  transition: all 1s ease;
}

.vegan {
  width: 100%;
  opacity: 0;
  transition: all 1s ease;
}

.menu--hdl {
  font-family: "Dancing Script", cursive;
  font-size: 120%;
}

.menu--headline {
  cursor: pointer;
  opacity: 1;
  transition: opacity 0.7s ease;
}

.menu--headline--vegan {
  cursor: pointer;
  opacity: 0.5;
  transition: opacity 0.7s ease;
}

.menu--append {
}

.menu--hdl--container {
  display: flex;
  gap: 60px;
}

.leaf--hidden {
  opacity: 0;
  pointer-events: none;
}

.back--hidden {
  opacity: 0;
  pointer-events: none;
}

p {
  font-family: "Cormorant Garamond", serif;
}

.section--text {
  width: 52%;
}

.segment--text {
  width: 50%;
  font-family: "Cormorant Garamond", serif;
}

.outro {
  margin-top: 20px;
  font-family: "Dancing Script", cursive;
  font-size: 110%;
}
/* Section Text Containers End */

.opacity {
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: white;
  opacity: 0.4;
}

#darky--section {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  text-align: center;
}

#darky--section::before {
  content: "";
  background-image: url(./IMG/bgnove-01.png);
  background-size: 120%;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  position: absolute;
  top: 0px;
  right: 0px;
  left: 0px;
  bottom: 0px;
  opacity: 0.4;
  z-index: -1;
}

/* Nav bar classes */
.hider {
  opacity: 1;
  pointer-events: all;
  transition: opacity 1s ease;
}

.bg--hider {
  transition: opacity 0.6s ease;
  opacity: 0.05;
}
/* Nav bar clsses end */

/*Media querries*/

/* Mobile*/
@media only screen and (min-device-width: 250px) and (max-device-width: 850px) {
  .dress--container {
    width: 50%;
  }

  .darky--text {
    width: 52%;
  }

  .attach {
    display: none;
  }

  .attach--mobil {
    display: block;
    width: 5em;
  }

  .circles {
    flex-wrap: wrap;

    width: 100%;
    gap: 10px;
  }

  .circle--container {
    flex-direction: row;
    width: 120%;
  }

  .color {
    position: absolute;
    display: none;
  }

  .dress--sub {
    width: 50%;
  }

  .circle {
    height: 5em;
    width: 5em;
  }

  #section--1 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
  }
  .panel--container {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .panel {
    flex-basis: 33.33%;
    width: 30%;
  }

  .section {
    text-align: center;
    height: 100%;
  }

  .logo {
    width: 30em;
  }

  ul {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: small;
  }

  .nav--item {
    margin: 23px;
  }

  #main::before,
  #map--section::before,
  #doprava--section::before,
  #program--section::before,
  #darky--section::before {
    background-image: url(./IMG/mobilbg.png);
    background-size: 120%;
    opacity: 0.5;
    background-attachment: scroll;
  }

  #main::before {
    opacity: 0.4;
  }

  #map {
    width: 25em;
    height: 25em;
    border: 2px solid rgb(89, 151, 131);
  }

  #program--section {
    min-height: 55%;
  }

  #kontakt {
    min-height: 55%;
  }

  /* Menu */

  .menu--text {
    position: relative;
    justify-content: center;
    align-items: center;
    height: 50%;
    font-size: 90%;
  }

  .non--vegan {
    position: absolute;
    width: 100%;
    transition: all 1s ease;
  }

  .vegan {
    width: 100%;
    opacity: 0;
    transition: all 1s ease;
  }

  .menu--append {
    width: 70%;
    font-size: 70%;
  }
}

/* Media querries end */
